* {
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    background-color: #f2f4f5;
}

.navbar-brand img {
    height: 65px;
}

.user {
    margin-top: 160px;
    margin-bottom: 60px;
}

.riwayat{
    margin-bottom: 60px;
}