@import url('https://fonts.googleapis.com/css?family=Oxygen:wght@300;400;700&display=swap');

$light: #dddddd;
$dark; #222831;
$blue: #30475E;
$red: #F05454;

body{
    font-family: 'Oxygen', sans-serif;
    font-size: 15px;
    color: #f2f4f5;
}

.fz-13 {
    font-size: 13px;
}

a{
    color: $red;
    text-decoration: none;

    &:hover {
        color: $red;
        text-decoration: underline;
    }
}

.btn-primary{
    color: $light !important;
    background-color: $blue !important;
    font-size: 15px;
    border: none;

    &:hover, &:active, &:focus {
        outline: none;
    }
}
.bg-register {
    background-image: url('assets/img/about.jpg');
    background-size: cover;
}