* {
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    background-color: #f2f4f5;
}

.section-padding {
    padding: 100px 0;
}

/*=====Header=====*/
.carousel-item {
    height: 100vh;
    min-height: 300px;
}

.navbar-brand img {
    height: 65px;
}

.carousel-caption {
    bottom: 220px;
    z-index: 2;
}

.carousel-caption h5 {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}

.carousel-caption p {
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}

.carousel-inner::before {
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.navbar-nav a{
    font-size: 18px;
    font-weight: 500;
}

.navbar-light .navbar-brand {
    color: #000000;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    color: #000000;
}

.navbar-light .navbar-nav .navbar-link {
    color: #000000;
}

.w-100 {
    height: 100vh;
}

/*====Services====*/
.services .card-body i{
    font-size: 50px;
}
.services .card-body a{
    text-decoration: none;
    color: #000000;
}
.services .card-body img{
    height: 75px;
    border-radius: 50px;
    box-shadow: 0px 0px px rgba(160, 195, 210, 1);
}

/*====Order====*/
.order {
    background-image: url(assets/img/contact-bg1.jpg);
    background-size: cover;
}
.order label{
    font-weight: 900;
}

.formcontainer{
    top: 15vh;
    background: rgba(0, 0, 0, 0.2);
    padding:30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000;


}

.form-select{
    font-weight: 600;
}

.form-select > option {
    font-weight: 600;
}




/* ===responsive CSS=== */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .carousel-caption {
        bottom: 370px;
    }
    .carousel-caption p {
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .navbar-nav {
        text-align: center;
    }
    .carousel-caption {
        bottom: 125px;
    }
    .carousel-caption h5 {
        padding: 17px;
    }
    .carousel-caption a {
        padding: 10px 15px;
    }
    .carousel-caption p {
        width: 100%;
        line-height: 1.6;
        font-size: 12px;
    }
    .about-text {
        padding-top: 50px;
    }
    .card {
        margin-bottom: 30px;
    }
}
