@font-face {
    font-family: 'Southwave Handwritten';
    src: url('Southwave.eot');
    src: local('Southwave Handwritten'), local('Southwave'),
        url('Southwave.eot?#iefix') format('embedded-opentype'),
        url('Southwave.woff2') format('woff2'),
        url('Southwave.woff') format('woff'),
        url('Southwave.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

